/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.git
/phpmyadmin
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sftp-config-alt.json
sftp-config.json
.env
.env.example
artisan

